@import "../variables.scss";
/********************   Header  *************************************/

.kasa_logo__img {
  width: 150px;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 28px;
    color: $color-primary;
    margin-left: 25px;
    cursor: pointer;
  }
  img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-left: 25px;
    cursor: pointer;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      // height: 15px;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      font-size: 24px;
      cursor: pointer;

      color: $color-primary;
      //   padding-bottom: 10px;
      border-bottom: 2px transparent solid;
      &:hover {
        border-bottom-color: $color-primary;
      }
    }
  }
}
